<h3>{{section.settings.text}}</h3>

{% schema %}
{
    "name" : "Icons with text above",
    "settings" : [
        {
            "type" : "text",
            "label" : "The sections headline",
            "id" : "text"
        }
    ]
}
{% endschema %}